# Disable USB autosuspend for Logitech C922 Pro Stream Webcam (046d:085c)
# to prevent UVC firmware stalls during rapid open/close cycles
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="046d", ATTR{idProduct}=="085c", ATTR{power/control}="on", ATTR{power/autosuspend}="-1"
